

<nav class="navbar navbar-default" role="navigation">
  
<div class="container">
  <div class="container">   
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Pencil + Ruler", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav myborder">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Our Skills", our_skills_path %></li> 
            <li><%= link_to "Our Work", our_work_path %></li> 
            <li><%= link_to "Contact", contact_path %></li> 
            <li>
              <% if admin_signed_in? %>
                <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
                  <% else %>
                <%= link_to('Login', new_admin_session_path) %>
              <% end %>
            </li>
                    
          </ul>
        </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
  </div>
</nav>



